body,
html {
    height: 100%;
}

main {
    min-height: calc(100vh - 100px);
    /* Ajusta según el alto de tu navbar + footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: #343a40;
    /* Gris oscuro */
    color: white;
    padding: 20px 0;
    text-align: center;
}